@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <br />
        <h1>Create new receipt</h1>
        <hr />
        <form method="post" id="createStorageForm">
            <div class="form-group">
                <label class="control-label">Distributer Name:</label>
                <input name="DistributerName" id="DistributerName" class="form-control" required />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Distributer Firm:</label>
                <input name="DistributerFirm" id="DistributerFirm" class="form-control" required/>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Date:</label>
                <input name="Date" id="Date" class="form-control" required/>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Items:</label>
                <input name="Items" id="Items" class="form-control" required/>
                <span class="text-danger"></span>
            </div>
            <br />
            <div class="form-group cntr">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
<br />
<div class="cntr">
    <a asp-controller="Storage" asp-action="Index">Back to List</a>
</div>
<script src="~/js/StorageStaff.js" asp-append-version="true"></script>
