@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var items = ViewBag.Items;
}
<h1>Recived items</h1>


<table class="table">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Amaunt recived</th>    
            <th>Initial price</th>
        </tr>
    </thead>
    <tbody id="tableDetails">
    @foreach (var item in items)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Amaunt</td>
            <td>@item.Price</td>
        </tr>
    }
    </tbody>
</table>
<div style="align: center">
    <p>
     <a asp-controller="Storage" asp-action="Index">Go back</a>
    </p>
</div>

