@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Storage </h1>

<p>
    <a asp-controller="Storage" asp-action="Create">Create New Receipt</a>
</p>
<table class="table">
    <thead>
        <tr>           
            <th>Distributer Name</th>
            <th>Distributer Firm</th>
            <th>Date of reception</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>
<script src="~/js/StorageStaff.js" asp-append-version="true"></script>