@{
    var id = ViewBag.Id;
    var doAlert = (string.IsNullOrEmpty(ViewBag.DoAlert)) ? "false" : "true";
}

@if (doAlert.Equals("true"))
{
            <script> alert("Log in to oreder!");</script>
}


<div class="cntr">
    <h1>Available items</h1>

    <p>
        <a asp-controller="Item" asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>          
                <th>Name</th>
                <th>Price</th>
                <th>AmauntAvailable</th>
                <th>MeasurementUnit</th>
                <th>PricePerUnit</th>
                <th>Tax</th>
                <th>PriceWithTax</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
    </table>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/ItemStaff.js" asp-append-version="true"></script>