@{
    ViewData["Title"] = "Create";
}


<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form method="post" id="createAdminForm">
            <div class="form-group">
                <h1 class="cntr">Create Customer</h1>
                <hr />
                <label class="control-label">Name:</label>
                <input name="Name" class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Email:</label>
                <input name="Email" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Password:</label>
                <input type="password" name="Password" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Type:</label>
                <input name="Type" class="form-control" />
                <span class="text-danger"></span>
            </div>
           <br />
            <div class="form-group cntr">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
<br />
<div class="cntr">
    <a asp-controller="Customer" asp-action="Index">Back to List</a>
</div>

<script src="~/js/CustomerStaff.js" asp-append-version="true"></script>

