@{
    var ID = ViewBag.ID;
}


<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1>Delete</h1>

        <h3>Are you sure you want to delete this customer?</h3>
        <hr />
        <dl class="row">
            <!-- here dynamic code-->
            <dt></dt>
            <dd></dd>
        </dl>
        <div class="cntr">
            <form method="post" id="deleteCustomerForm">
                <input type="hidden" name="ItemIdToDelete" id="CustomerIdToDelete" value="@ID"/>
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                 <a asp-controller="Customer" asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>
    <div class="col-md-3"></div>
    
</div>

<script src="~/js/CustomerStaff.js" asp-append-version="true"></script>


