@{
}

<h1>Index</h1>

<p>
    <a asp-controller="Order" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Customer Name</th>    
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>
<script src="~/js/OrderStaff.js" asp-append-version="true"></script>