@{
}

<h1>Active orders</h1>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>Status</th>
            <th>Customer Name</th>    
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>
<script src="~/js/OrderStaff.js" asp-append-version="true"></script>